<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     <h1>{{ title }}!</h1>
<!--
    <app-heroes></app-heroes>
-->


  </h1>
</div>

<div>
  <button (click) = "test()">test</button>
</div>
<!--<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->
<nav>
  <a routerLink="/heroes">Heroes</a>
  <!--<span/>-->
  <a routerLink="/dash">dash</a>
</nav>

<router-outlet></router-outlet>

<app-messages></app-messages>
